@mixin light-box-shadow($color) {
  box-shadow: 0 3px 8px $color;
}

@mixin scale-on-hover($proportion: 1.02) {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale($proportion);
  }
}

@mixin vertical-centering-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@mixin horizontal-centering-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@mixin centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
