$white: #fff;
$washedWhite: #fafafa;
$orange: #ffb55c;
$purple: #6146c6;
$lightPurple: #816bd1;
$green: #61c877;
$red: #ff6157;
$lightGray: #e2e8f0;
$mediumGray: #a0aec0;
$darkGray: #2d3748;
$black: #000;

$fontFamily: "Poppins", sans-serif;
$regularWeight: 400;
$mediumWeight: 500;
$semiboldWeight: 600;
$boldWeight: 700;
$mediumFontSize: 1.4rem;
$fontColor: $darkGray;

$backgroundColor: $washedWhite;
