@use "../styles/variables.scss" as *;

.loader {
  margin: 0 auto;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.5rem solid $darkGrey;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
